<header class="container">
  <nav>
    <figure>
      <a href="/">
        <img src="/assets/logo/svg/logo-black.svg" alt="Logo" />
      </a>
    </figure>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/contact">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>